
/* Main Acco */
.main-acco {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 3vh; 
    margin: 0 auto;
    padding: 5vh;
}

.mind-txt{
    text-align: center;
    color: #262163;
    margin-bottom: 3vh;
}

.txt-acco{
    display: flex;
    flex-direction: column;
    /* padding: 2vh; */
    margin: 2%;
}

.txt-acco h1 {
    color: #262163;
    font-size: 2.5rem; 
    padding-bottom: 2vh;
    text-align: left;
    max-width: 90%; 
    margin: 0 auto; 
    /* word-break: break-word;  */
    line-height: 1.2; 
    /* padding-left: 0; */
    margin-left: 0;
}

.txt-acco p{
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 1rem;
}

.txt-acco li{
    padding: 0.8vh;
    font-size: 1rem;
}

.midacco-container{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    margin-bottom: 10vh;
}

.midacco-container{
    display:flex
}

/* Box Container with Grid Layout */
.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
    justify-content: center;
    align-items: center;
}

/* Box Style */
.box-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    height: 200px; 
    box-sizing: border-box; 
}

/* Hover Effect */
.box-item:hover {
    background-color: aliceblue; 
    transform: scale(1.05); 
}

/* Image Style */
.box-item img {
    width: 40%; 
    height: auto;
    margin-bottom: 10px;
    object-fit: contain;
}

/* Heading Style */
.box-item h3 {
    font-size: 1rem;
    font-weight: bold; 
    margin-bottom: 10px;
    color: #262163;
    margin: 1.2vh;
}

.slider-container {
    max-width: 25%;
    margin: 2vh;
    position: relative;
    
}

.slider {
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 4/6;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button.prev { left: 10px; }
button.next { right: 10px; }

.thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.thumbnails img {
    width: 50px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border 0.3s;
}

.thumbnails img:hover, .thumbnails img.active {
    border: 2px solid #007BFF;
}
