/* COLLEGE */

/*CollegeContent*/
.college-container {
    display: flex;
    justify-content: space-between;
    box-shadow: 5px;
    border-radius: 20px;
}

/* Container utama */
.utp-college {
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start; 
    text-align: center;
    gap: 2rem; 
    margin: 4vh;
    flex-wrap: wrap;
}

/* Bagian kiri (gambar dan heading) */
.left-up {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    flex: 1; 
    min-width: 300px; 
}

.col-logo1 {
    width: 100%;
    max-width: 400px; 
    height: auto;
    margin: 2vh;
}

/* Bagian kanan (teks) */
.right-up {
    flex: 2; 
    padding-left: 2rem; 
}

.about-utp {
    text-align: left;
}

.about-utp p {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}


