@keyframes zoomIn {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

/* Toggle Button (Hamburger Icon) */
@media (max-width: 768px) {
    /* Navigation Toggle */
    .toggle-button {
        display: block; 
    }

    .top-text{
        display: none;
    }

    .me-container {
        display: none; 
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #262163;
        width: 100%;
        z-index: 9;
        padding: 1.2vh;
    }

    .me-container.active {
        display: block; 
    }
  
    .li-menu {
        display: block;
        text-align: center;
        margin: 10px 0;
        flex-wrap: wrap;
        display: inline-block; 
    }

    .li-menu a:hover {
        font-weight: bold;
        display: inline-block; 
    }
}

@media (max-width: 768px){
    /*Layout Home */
    .imgc-container:not(.the-form) {
        flex-direction: column;
        text-align: center;
        gap: 0; 
        padding-bottom: 0;
    }

    .image-college {
        order: -1; 
        display: block;
        width: 100%;
        margin-bottom: 0; 
    }

    .image-college img {
        display: none; 
    }

    .content-right {
        order: 1; 
        text-align: center;
        margin-top: 0; 
    }

    .text-right h1 {
        font-size: 2rem;
        margin: 0; 
    }

    .text-right h2 {
        font-size: 1.2rem;
        margin: 0;
    }

    .text-right p {
        font-size: 1rem;
        padding-bottom: 1vh;
        margin: 0;
    }

    .event-flex {
        flex-direction: column;
        gap: 15px;
    }

    .event-flex img {
        max-width: 80%;
    }

    .modal-content {
        max-width: 95%;
        max-height: 70vh;
    }
}

/* BOXES(ourservices) */
@media (max-width: 768px) {
    /* Mid Box Responsif */
    .box-mid {
        flex-direction: column; 
        gap: 2vh; 
    }

    .box1, .box2, .box3, .box4, .box5 {
        width: auto; 
        height: auto;
    }

    .box1 img, .box2 img, .box3 img, .box4 img, .box5 img {
        max-width: 70%;
        max-height: 70%;
    }

    .box1 p, .box2 p, .box3 p, .box4 p, .box5 p {
        font-size: 1em; 
    }

    .popup-content {
        width: 90%; 
        margin: 30% auto; 
        padding: 15px;
    }

    .popup-content h2 {
        font-size: 1.5rem;
    }

    .popup-content p, .popup-content ol {
        font-size: 1rem;
    }
}

/* 6 Act Photos*/
@media (max-width: 768px) {
    .img-activity {
        grid-template-columns: 1fr; 
        gap: 1.5vh; 
    }

    .img-activity img {
        aspect-ratio: 4/3; 
        border-radius: 8px; 
    }
}

/* Video About */
@media (max-width: 768px) {
    .video-container {
        max-width: 100%; 
    }

    .video-thumbnail img {
        width: 60px; 
        height: 60px;
    }
}

/* All About and Social Media*/
@media (max-width: 768px) {
    .all-about {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .about-video {
        width: 100%;
    }

    .video-container {
        max-width: 100%;
    }

    .about-text {
        padding: 1rem;
        text-align: center;
    }

    .social-media {
        gap: 1rem;
    }

    .social-media img {
        width: 40px;
        height: 40px;
    }

    .big-text {
        font-size: 1.2rem;
    }
}

/* ---------------------------------- */
/* COLLEGE */
@media (max-width: 768px) {
    .utp-college {
        flex-direction: column; 
        gap: 2rem;
    }

    .left-up,
    .right-up {
        flex: unset;
        width: 100%;
    }

    .right-up {
        padding-left: 0; 
        text-align: center;
    }

    .about-utp p {
        text-align: center;
    }
}

/* Faculty-Boxes */
@media (max-width: 768px) {
    .faculty-container {
        display: grid; 
        grid-template-columns: 1fr !important; 
        gap: 1.5rem; 
    }

    .all-faculty {
        margin: 0 auto; /* Pastikan elemen ada di tengah */
        width: 100%; /* Elemen mengambil penuh lebar */
    }
}

/* Responsive ACCO */
@media (max-width: 768px) {
    .main-acco {
        flex-direction: column;
        align-items: stretch; 
        gap: 2vh; 
        padding: 2vh; 
    }

    .txt-acco h1 {
        font-size: 1.8rem; /* Ukuran font lebih kecil */
        line-height: 1.1; /* Menyesuaikan jarak antar baris */
    }

    .txt-acco p, .txt-acco li {
        font-size: 0.9rem; /* Ukuran teks lebih kecil */
        text-align: justify; /* Teks rata kiri-kanan */
        margin: 0 auto; /* Memberikan jarak margin */
        line-height: 1.5; /* Menambahkan spasi antar baris */
    }

    .box-container {
        grid-template-columns: repeat(1, 1fr); 
        gap: 15px; 
        width: 100%; 
    }

    .box-item {
        display: flex;
        flex-direction: column;
        height: auto; 
        padding: 15px; 
    }

    .slider-container {
        max-width: 100%; 
        margin: 2vh auto; 
    }

    .slides img {
        aspect-ratio: unset; 
    }

    .mind-txt h1 {
        font-size: 2rem; 
    }

    .mind-txt {
        margin-bottom: 2vh; 
        padding: 0 5%; 
    }
}
