/* 6 Act Photos */
/* .img-activity3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2.2vh; 
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    background-color: white;
    border-radius: 20px;
} */

