/* Modal Popup */
.modal {
    display: none; /* Default sembunyikan modal */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Background gelap */
    justify-content: center;
    align-items: center;
    overflow: auto;
}

/* Isi Modal */
.modal-content {
    max-width: 90%;
    max-height: 80vh; /* Responsif di layar kecil */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 20px;
}

/* Tombol Close */
.close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #fba834;
}
