/* Styles for Register Form */

body {
    font-family: Arial, sans-serif;
    margin: 0;          
    padding: 0;
}
.full-reg{
    display: flex;
    justify-content: center;
    /* bagian kiri untuk kanan-tengah-kiri */
    padding: 10px;
    border: 3px solid black;
}

.upper-reg{
    display: flex;
    justify-content: center;
    height: 25vh;
    
}

.reg-consul{
    background-color: greenyellow;
    border: 1px solid black ;
   width: auto;
}

.img-consul{
    justify-content: center;
    width: 20vh;
    height: 20vh;
    border: 3px solid black;

}

.img-barcode{
    width: 20vh;
    height: 20vh;
    
}

/* ini register */

h1 {
    margin-top: 10vh;
    text-align: center;
}

form {
    margin-left: 30vh;  
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    width: 80vh;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1E90FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4169E1;
}

p {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

a {
    color: #1E90FF;
    text-decoration: none;
}

a:hover {
    background-color: #ccc;
}


.reg-step{
    display: flex   ;
    align-items: center;

}


