/* Styles for Register Form */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1E90FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4169E1;
}

p {
    text-align: center;
}

a {
    color: #1E90FF;
    text-decoration: none;
}

a:hover {
    background-color: #ccc;
}


.reg-step{
    display: flex   ;
    align-items: center;

}


.reg-consul{
    background-color: #4169E1;
    border: 1px solid black ;
}

.img-consul{
    justify-content: center;
    width: 80vh;
    height: 80vh;
}

.img-barcode{
    width: 80vh;
    height: 80vh;
}

