/* -------------------------------------------- */
/* ------------------------- */

/* align-items: center; vertical */
/* justify-content: center; horizontal */

/* ALL */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
/* Navigation-Bar */
.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(210, 210, 210);
    /* #FBA834 ORANGE*/
}

.logo-container,
.menu-container,
.search-container,
.button-losin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container a{
    display: flex;
    align-items: center;
}
.logo-container a img{
    width: 8vh;
    height: 8vh;
    margin-right: 1.2vh;
}

.ul-menu {
    display: flex;
    font-size: 1.0rem;
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.li-menu {
    margin-right: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 20px;
}

.a-menu {
    color: #242364;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.li-menu:hover {
    /* transform: scale(1.1);  */
    background-color: #f0f0f0; 
    border-radius: 20px;
}

.a-menu:hover {
    color: #0066CC;
    font-weight: bold;
}

.bar-search {
    font-size: 0.8;
    padding: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
}

.button-search {
    font-size: 0.8;
    cursor: pointer;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #387ADF;
}

.button-login,
.button-signup
 {
    font-size: 0.9rem;
    text-decoration: none;
    color: #fff;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #387ADF;
}

.button-search:hover,
.button-login:hover,
.button-signup:hover,
.button-please:hover, 
.button-form:hover {
    background-color: #50C4ED;
    font-weight: bold;
}

/* HOME */
.home-container:not(.the-form) {
    display: flex;
    width: fit-content;
    position: relative; 
}

.image-college {
    position: relative; 
    align-items: flex-end;
    margin: 0;
    top: 0;
    width: 60%; 
    height: 60%; 
    background-image: url(images/backstudent.png); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.image-college img {
    position: relative; 
    z-index: 1; 
    max-width: 100%; 
    height: 100%; 
}


.content-right {
    align-items: flex-start;
    justify-content: left;
    padding: 10px;
}

.text-right {
    padding: 0 10px;
}

.text-right h1 {
    font-size: 3.5em;
}

.text-right h2 {
    font-size: 1.8em;
}

.text-right p{
    margin-top: 1vh;
}

/* BOXES */
.box-right {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
}

.box-blue:hover, 
.box-yellow:hover, 
.box-red:hover {
    transform: scale(1.1); 
    background-color: #f0f0f0; 
    border-radius: 20px;
}

.box-blue,
.box-yellow,
.box-red {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 22vh;
    height: 18vh;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #50C4ED;
    /* border: 2px solid black; */
    border-radius: 20px;
    margin-right: 2vh;
    text-decoration: none;
}

.box-blue img,
.box-yellow img,
.box-red img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
}

.box-blue p,
.box-yellow p,
.box-red p {
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
}

.box-blue img {
    width: 68%;
    height: 68%;
}

/* POP */
/* POP */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.popup-content h2 {
    text-align: center;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* ----------------------- */

.the-please {
    text-align: left;
    margin-top: 10px;
}

.button-form, 
.button-please{
    font-size: 1.0rem;
    color: #fff;
    background-color: #387ADF;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    margin-top: 2vh;
}
/* Ready Container */
.ready-container {
    text-align: center;
    padding: 5vh;
    background-color: #cccccc;
}

.full-stepconsul {
    display: flex;
    justify-content: center;
    gap: 2vh; /* Add some space between the two menus */
    padding: 5vh;
    background-color: #f0f0f0; /* Optional: Background color for visual separation */
    align-items: center; /* Center the items vertically */
}

.stepbystep, 
.whatsapp {
    flex: 1; /* Allow items to grow equally */
    padding: 2vh; /* Adjusted padding for a more consistent look */
    border: 2px solid #333;
    text-align: center; /* Center the content inside each box */
    background-color: #fff; /* Optional: Background color for each box */
    margin: 1vh; /* Optional: Margin around each box */
    border-radius: 10px; /* Optional: Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Box shadow for a subtle effect */
}

.stepbystep h2, 
.whatsapp h2 {
    text-align: center;
}

.img-step,
.img-whatsapp {
    display: block;
    margin: 0 auto; /* Center the images horizontally */
    width: 22vh;
    height: 22vh;
}

.button-container {
    margin-top: 20px;
    text-align: center; /* Center the button container */
}

.button-form {
    display: inline-block; /* Make the button inline-block for better control */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-form:hover {
    background-color: #0056b3;
}

/* COLLEGE */
.college-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.col-left, .col-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 2vh;
}

.col-logo1, .col-logo2 {
    justify-content: center;
    width: 60vh;
    height: 32vh;
    max-height: 32vh;
    margin-bottom: 5vh;
}

.first-college, .second-college {
    text-decoration: none;
    color: #333;
    text-align: center;
}

.first-college h1, .second-college h1 {
    font-size: 1.8em;
    color: #1a73e8;
    margin-bottom: 10px;
  
}


.college-video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh; 
    overflow: hidden;
    width: 100%;
    max-width: 100vh;
    max-height: 55vh;
    margin: auto;
    border-radius: 10px;
}

.intro-container {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.intro-element {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover; 
}

.video-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    cursor: pointer;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    justify-content: center; 
    align-items: center; 
}



.first-college h2, .second-college h2 {
    font-size: 1em;
    margin-bottom: 10px;
    
}

.first-college p, .second-college p {
    margin-top: 1vh;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: left;
}



.button-prody1, .button-prody2{
    display: list-item;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
  
}

.box-prody1, .box-prody2 {
    
    display: flex;
    flex-direction: column; 
    width: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    max-height: 100vh; 
    margin-top: 5vh;
}

.button-subject {
    display: flex; 
    align-items: center; 
    padding: 10px;
    margin: 5px 0; 
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(210, 210, 210);
    font-size: 1rem;
    border: none;
    width: 100%; 
}

.button-subject img {
    max-width: 20px; 
    max-height: 20px; 
    margin-right: 10px; 
}

.button-subject span {
    flex: 1; 
    text-align: left; 
}

.button-subject:hover {
    background-color: #50C4ED;
    font-weight: bold;
}

.first-college:hover h1, .second-college:hover h1 {
    color: #50C4ED;
}

.first-college:hover p, .second-college:hover p, .about-utp li:hover {
    color: #333;
}

/* ABOUT */
.about-utp {
    margin-top: 20px;
    padding-left: 20px;
    text-align: left;
}

.about-utp li {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.upper-container {
    display: flex;
    justify-content: center;
    box-shadow: 5px;
    border-radius: 20px;
}

.about-text {
    font-size: 1.6em;
    justify-content: right;
    margin-left: 20px;
    padding: 20px;
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.about-text p {
    margin-top: 2vh;
    font-size: large;
}

.about-text p:nth-of-type(1) {
    font-weight: bold;
}

.about-video {
    margin-left: 3vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh; 
    overflow: hidden;
    width: 100%;
    max-width: 100vh;
    max-height: 55vh;
    margin: auto;
    border-radius: 10px;
}

.video-container {
    margin-left: 3vh;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.video-element {
    margin-left: 3vh;
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.video-thumbnail {
    margin-left: 3vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ABOUT */
.about-socmed {
    /* display: flex; */
    padding: 20px;
    
}

.social-icons {
    margin-left: 5vh;
    display: flex;
    flex-wrap: wrap;
    gap: 2vh; /* Adjust gap between social media items as needed */
}

.social-media {
    
    display: flex;
    align-items: center;
    gap: 5vh; /* Adjust gap between icon and text */
}

.social-media a {
    margin-left: 2vh;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit; /* Ensures text color follows parent */
}

.social-media img {

    width: 5vh; /* Adjust as needed */
    height: 5vh; /* Adjust as needed */
}

.a-text {
    font-size: large;
    margin: 0;
}


.about-thanks {
    display: flex;
    justify-content: center;
    font-size: large;
    padding: 20px;
    /* border: 2px solid black; */
    border-top: none;
    border-left: none;
    border-right: none;
}

/* FOOTER */

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    padding: 2vh;
    
}

.p-footer {
    font-size: 16px;
}