*,
html{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: white;
}
.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(170, 170, 170);
    padding: 10px 20px;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    align-items: center;
}

.a-text {
    font-size: 2rem;
    color: #242364;
    text-decoration: none;
    margin-left: 10px;
}

.menu-container {
    display: flex;
    align-items: center;
}

.ul-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.li-menu {
    padding: 5px 10px;
}

.a-menu {
    font-size: 1.2rem;
    color: #242364;
    text-decoration: none;
    margin: 0 5px;
}

.search-container {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.bar-search {
    border: 1px solid #242364;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}

.but-search {
    border: none;
    background-color: #242364;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button-right {
    display: flex;
    align-items: center;
}

.login-button,
.signup-button {
    font-size: 1.2rem;
    color: #fff;
    background-color: #242364;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
}


.home-container:not(.the-form){
    margin-top: 30px;
    display: flex;
    width: fit-content;
}

/* left content */
.image-college{
    justify-content: left;
    /* bagian kiri untuk kanan-tengah-kiri */
    align-items: center;
    border: 2px solid black;
}

/* right content */
.content-right{
    /* display: contents; */
    align-items: top;
    justify-content: left;
    padding: 10px;
    border: 2px solid red;
    width: 115vh;

}
.text-right{        
    /* box-sizing: border-box;  */
    padding: 0 10px; 
    width: auto; 
    border: 2px solid blue;
}

.text-right h1{
    font-size: 3.5em;
    /* margin-bottom: 2vh; */
}


.box-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    /* width: 100%; Mengatur lebar kotak menjadi 100% dari lebar kontainer utama */
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px; 
    border: 2px solid blue; 
}

.box-blue,
.box-yellow,
.box-red {
    width: 200px; 
    height: 150px; 
    margin-bottom: 10px;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    background-color: white;
    border: 3px solid black; 
}

.box-blue img,
.box-yellow img,
.box-red img {
    max-width: 70%; 
    max-height: 70%; 
    /* Mengatur gambar agar sesuai dengan kotak */
    object-fit: contain; 
}

.box-blue p,
.box-yellow p,
.box-red p{
    font-size: large;
    object-fit: contain; 
    text-align: Center;
    font-style: bold;
}

.box-blue img{
    width: 65%;
    height: 65%;
    border: 1px solid black; 
}



/* college.html */

.college-container{
    display: flex;
}

.col-left{
    padding: 40px;
    border: 3px solid orange;
}

.col-right{
    padding: 40px;
    border: 3px solid orange;
}


.col-logo1{
    justify-content: center;
    align-items: center;
    width: 620px;
    height: 320px;
    border: 3px solid black;
}

.col-logo2{
    justify-content: center;
    align-items: center;
    width: 620px;
    height: 320px;
    border: 3px solid black;
}



/* about.html */

.upper-container{
    display: flex;
    justify-content: center;
    /* bagian kiri untuk kanan-tengah-kiri */
    padding: 10px;
    border: 3px solid black;
}

.about-text{
    justify-content: right;
    border: 3px solid red;
    margin-left: 20px;
    padding: 20px;
}

.about-text p {
    font-size: large;
}

.a-about{
    justify-content: left;
    width: 100vh;
    height: 55vh;
    border: 3px solid blue;
    padding: 20px;
}

.about-socmed{
    font-size: large;
    border: 3px solid blue;
    padding: 20px;
}

.about-thanks{
    display: flex;
    justify-content: center;
    font-size: large;
    padding: 20px;
}


/* tidak memakai fixed karena discroll sampai bawah */
.footer-container{
    display: flex;
    align-items: center;
    justify-content: center; /*width*/
    background-color: white;
    height: 6vh;
    border: 3px solid greenyellow;
}

.p-footer{
    font-size: 16px;
}