

.a-about {
    justify-content: left;
    width: 100vh;
    height: 55vh;
    padding: 20px;
    border-radius: 10px;
} 

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
} 

.video-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    cursor: pointer;
    border-radius: 10px;
}

.video-container:hover .video-iframe {
    opacity: 1;
}